# Dependencies
node_modules
.pnpm-store

# Environment Secrets (CRITICAL for S-02)
.env
.env.local
.env.*.local

# Build output
dist
dist-ssr
*.local

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*